<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connstring" value="" />
    <add key="domainkey" value="" />
    <add key="smtpusername" value="" />
    <add key="smtppassword" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
