
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section seo
{
    <title>Error - rssheap</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
}


<section id="slider" class="slider-parallax full-screen dark error404-wrap"
         style="background: url(/images/parallax/home/2.jpg) center;">
    <div class="slider-parallax-inner">

        <div class="container vertical-middle center clearfix">

            <div class="error404" style="color: black !important; opacity: 0.4 !important">404</div>

            <div class="heading-block nobottomborder">
                <h4 style="color: black;">Ooopps.! The Page you were looking for couldn't be found.</h4>
            </div>

            <form action="#" method="get" role="form" class="divcenter nobottommargin">
                <div class="input-group input-group-lg">
                    <span class="input-group-btn">
                        <a href="/" class="btn btn-danger">GO BACK</a>
                    </span>
                </div>
            </form>

        </div>

    </div>
</section>