
@{
    ViewBag.Title = "Cookie Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section seo
{
    <title>rssheap | Privacy</title>
}

<section id="page-title">

    <div class="container clearfix">
        <h1>Cookie Policy</h1>
    </div>

</section>

<section id="content" style="margin-bottom: 0px;">

    <div class="content-wrap">

        <div class="container clearfix">

            <p>A cookie is a small piece of data (text file) that a website – when visited by a user – asks your browser to store on your device in order to remember information about you, such as your language preference or&nbsp;<span id="m_-290984822159968096gmail-m_-6440439870032042477:5wq.4">login</span>&nbsp;information. Those cookies are set by us and called first-party cookies. We also use third party cookies – which are cookies from a domain different than the domain of the website you are visiting – for our advertising and marketing efforts.</p>
            <p>More specifically, we use cookies and other tracking technologies for the following purposes:</p>
            <ul>
                <li>Assisting you in navigation;</li>
                <li>Assisting in registration to our events,&nbsp;<span id="m_-290984822159968096gmail-m_-6440439870032042477:5wq.5">login</span>, and your ability to provide feedback;</li>
                <li><span id="m_-290984822159968096gmail-m_-6440439870032042477:5wq.6">Analyzing</span>&nbsp;your use of our products, services or applications;</li>
                <li>Assisting with our promotional and marketing efforts. (including&nbsp;<span id="m_-290984822159968096gmail-m_-6440439870032042477:5wq.7">behavioral</span>&nbsp;advertising)</li>
            </ul>
            <p>Below is a detailed list of the cookies we use on our Website. Our Website is scanned with our cookie scanning tool regularly to maintain a list as accurate as possible. We classify cookies in the following categories:</p>
            <ul>
                <li>Strictly Necessary Cookies</li>
                <li>Performance Cookies</li>
                <li>Functional Cookies</li>
                <li>Targeting Cookies</li>
            </ul>

        </div>
    </div>
</section>

